* {
	margin: 0;
	padding: 0;
}

header {
	
}

.header-inner {
	background-image: url("banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0 auto;
	width: 100%;
}

#brand {
	float: left;
	margin: 50px 0 50px 50px;
	width: 500px;
	font-size: 130%;
	text-decoration: none;
	font-family: Arial;
	color: white;
}

nav ul {
	float: right;
	list-style-type: none;
	overflow: hidden;
	margin-right: 20px;
}

nav ul li {
	margin: 50px 0 50px 50px;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	font-family: Arial;
	color: white;
}

.center-text {
	clear: both;
	text-align: center;
	font-family: Arial;
	padding: 100px 0;
	border-width: 3px;
	line-height: 50px;
	color: white;
}

button a {
	color: white;
	text-decoration: none;
}

.center-text button {
	margin: 10px 0 0 0;
	background-color: transparent;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 30px;
	font-size: 24px;
	transition-duration: 0.4s;
}

.center-text button:hover {
	background-color: #abafb5;
}

h1, h2, button {
	font-weight: 400;
}

.middle-section {
	background-color: #27ae60;
	padding-bottom: 50px;
}

.middle-section h2, h3 {
	text-align: center;
	line-height: 40px;
	font-weight: 400;
	font-family: Arial;
	color: white;
}

.middle-section h2 {
	padding-top: 75px;
	
}

.mini-sections {
	margin: 0 10% 10%;
	overflow: auto;
	padding-top: 75px;
}

.individual-section {
	float: left;
	width: 25%;
	margin-right: 1%;
	margin-left: 6%;
	text-align: center;
}

.mini-sections .individual-section p {
	padding-top: 25px;
}

.fa-clock-o {
	color: white;
}

.fa-comments {
	color: white;
}

.fa-user {
	color: white;
}

.picture-section h1, .picture-section p {
	text-align: center;
	line-height: 50px;
	color: gray;
	padding: 0;
	margin: 0;
}

.picture-wrapper-blocks hr {
	border-style: double;
	color: gray;
	margin: 50px 1%;
}

.picture-blocks {
	float: left;
	overflow: hidden;
	width: 30%;
	margin: auto 10%;
}

.picture-blocks hr {
	width: 100%;
	margin: 0;
	color: gray;
	border-style: double;
	border-color: gray;
}

.picture-blocks img {
	width: 100%;
	border-radius: 5px;
}

.picture-blocks h2, .picture-blocks p {
	color: gray;
	text-align: center;
	margin: 20px auto;
	padding-bottom: 30px;
}

.picture-section-button {
	background-color: transparent;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 30px;
	font-size: 24px;
	transition-duration: 0.4s;
	position: relative;
	top: 45%;
	left: 45%;
}

.picture-section-button > a {
	color: gray;
}

.picture-section-button:hover {
	background-color: #abafb5;
}

@media only screen and (max-width: 1300px) {
	.picture-section h1, .picture-section p {
		line-height: 50px;
}

.picture-wrapper-blocks hr {
	border-style: double;
	color: gray;
	margin: 50px 1%;
}

.picture-blocks {
	width: 48%;
	margin: auto 1%;
}

.picture-blocks h2, .picture-blocks p {
	margin: 20px auto;
	padding-bottom: 30px;
}

}