/* Remember, body has background color of #e8b888. This effects extra margins and padding --> */

* {
	margin: 0;
	padding: 0;
}

header {
	
}

body {
	background-color: #e8b888
}

.header-inner {
	background-image: url("sfgiants.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0 auto;
	width: 100%;
}

#brand {
	float: left;
	margin: 50px 0 50px 50px;
	width: 500px;
	font-size: 130%;
	text-decoration: none;
	font-family: Arial;
	color: white;
}

nav ul {
	float: right;
	list-style-type: none;
	overflow: hidden;
	margin-right: 20px;
}

nav ul li {
	margin: 50px 0 50px 50px;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	font-family: Arial;
	color: white;
}

.center-text {
	clear: both;
	text-align: center;
	font-family: Arial;
	padding: 100px 0;
	border-width: 3px;
	line-height: 50px;
	color: white;
}

button a {
	color: white;
	text-decoration: none;
}

.center-text button {
	margin: 10px 0 0 0;
	background-color: transparent;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 30px;
	font-size: 24px;
	transition-duration: 0.4s;
}

.center-text button:hover {
	background-color: #abafb5;
}

h1, h2, button {
	font-weight: 400;
}

.middle-section {
	background-color: #9b5c1d;
	padding-bottom: 50px;
}

.middle-section h2, h3 {
	text-align: center;
	line-height: 40px;
	font-weight: 400;
	font-family: Arial;
	color: white;
}

.middle-section h2 {
	padding-top: 75px;
	
}

.mini-sections {
	margin: 0 10% 10%;
	overflow: auto;
	padding-top: 75px;
}

.individual-section {
	float: left;
	width: 25%;
	margin-right: 1%;
	margin-left: 6%;
	text-align: center;
}

.mini-sections .individual-section p {
	padding-top: 25px;
}

.fa-clock-o {
	color: white;
}

.fa-comments {
	color: white;
}

.fa-user {
	color: white;
}

.picture-section {
	margin-bottom: 100px;
	background-color: #e8b888;
}

.picture-section h1, .picture-section p {
	text-align: center;
	line-height: 50px;
	color: gray;
	padding: 0;
	margin-top: 25px;
}

.picture-wrapper-blocks hr {
	border-style: double;
	color: gray;
	margin: 50px 12%;
}

.picture-blocks {
	float: left;
	overflow: hidden;
	width: 37%;
}

#left-picture {
	margin-left: 12%;
}
#right-picture {
	margin-left: 2%;
}

.picture-blocks hr {
	width: 100%;
	margin: 0;
	color: gray;
	border-style: double;
	border-color: gray;
}

.picture-blocks img {
	width: 100%;
	border-radius: 5px;
}

.picture-blocks h2, .picture-blocks p {
	color: gray;
	text-align: center;
	margin: 20px auto;
	padding-bottom: 30px;
}

.button-location {
	clear: both;
	text-align: center;
}
.picture-section-button {
	background-color: transparent;
	padding: 10px 30px;
	font-size: 24px;
	transition-duration: 0.4s;
}

.picture-section-button > a {
	color: gray;
}

.picture-section-button:hover {
	background-color: #dadee5;
}

footer {
	background-color: #585a5e;
}

.footer-wrapper {
	overflow: hidden;
	padding-top: 10%;
}

#left-indiv-section {
	margin-left: 10%;
}

#after-first-left {
	margin-left: 3%;
}
.indiv-footer-sections {
	float: left;
	width: 24%;
}

.indiv-footer-sections p, .indiv-footer-sections h2, .indiv-footer-sections a, .indiv-footer-sections hr {
	color: white;
	font-family: Arial;
	margin: 20px 0;
}

.fa-stack {
	color: white;
}

.text-wrapper {
	overflow: hidden;
}

.header-sections {
	display: inline-block;
	width: 40%;
}

.p-sections {
	display: inline-block;
	width: 150px;
	vertical-align: middle;
	color: white;
	line-height: 1.5;
}